*{
  box-sizing: border-box;
}

$yellow: #fef200;
$white: #fff;
$dwhite: #ebebeb;
$gray: #959595;
$lgray: #b7b7b7;
$pink: #f06eaa;
$green: #7cc576;
$black: #000;

.btn{
  border: 3px solid $yellow;
  background: $white;
  padding: 11px 10px 7px;
  color: $black;
  font: 18px/18px $muller-b;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 3px 3px 8px $gray;
  cursor: pointer;
}

.yellow{
  color: $yellow;
}

.green{
  color: $green;
}

.btn-br{
  @extend  .btn;
  border-radius: 30px;
}

.btn-bb{
  @extend  .btn;
  border-color: $black;
  background: $yellow;
  font-family: $muller-m;
}

.main-title{
  font: 60px $muller-l;
  color: $black;
  margin-bottom: 60px;
  span{
    font-family: $muller-bl;
  }
}

.label{
  font: 20px $muller-l;
  color: $black;
}

.input{
  background: $white;
  border: 1px solid #d7d7d7;
  padding: 10px;
  width: 100%;
  height: 45px;
  max-width: 400px;
  display: block;
  margin: 0 auto 15px;
}