@font-face {
  font-family: "Muller-Bold";
  src: url(../fonts/Muller-Bold.otf);
}

$muller-b: "Muller-Bold";

@font-face {
  font-family: "Muller-Regular";
  src: url(../fonts/Muller-Regular.otf);
}

$muller-r: "Muller-Regular";

@font-face {
  font-family: "Muller-Light";
  src: url(../fonts/Muller-Light.otf);
}

$muller-l: "Muller-Light";

@font-face {
  font-family: "Muller-Medium";
  src: url(../fonts/Muller-Medium.otf);
}

$muller-m: "Muller-Medium";

@font-face {
  font-family: "Muller-Black";
  src: url(../fonts/Muller-Black.otf);
}

$muller-bl: "Muller-Black";


@font-face {
  font-family: "Muller-Medium-Italic";
  src: url(../fonts/Muller-Medium-Italic.otf);
}

$muller-i: "Muller-Medium-Italic";

@font-face {
  font-family: "Unit-Slab-Offc-Pro-Bold";
  src: url(../fonts/Unit-Slab-Offc-Pro-Bold.ttf);
}

$unit-b: "Unit-Slab-Offc-Pro-Bold";

@font-face {
  font-family: "Unit-Slab-Offc-Pro-Light";
  src: url(../fonts/Unit-Slab-Offc-Pro-Light.ttf);
}

$unit-l: "Unit-Slab-Offc-Pro-Light";

@font-face {
  font-family: "Unit-Slab-Offc-Pro-Medium";
  src: url(../fonts/Unit-Slab-Offc-Pro-Medium.ttf);
}

$unit-m: "Unit-Slab-Offc-Pro-Medium";