/* -----------------------------------------------------
	include function 'calc' and Compass-like mixins
*/

@import "_config.scss";
@import "_func.scss";
@import "_mixins/_mixins.scss";
@import "_nouislider.min.scss";
@import "_nouislider.pips.scss";
@import "_nouislider.tooltips.scss";
@import "_animate.scss";
@import "_modal.scss";

/* -----------------------------------------------------
	include default styles, fonts, indents, and so on...
*/

/*@import "_default/_normalize.scss";*/
@import "_default/_default.scss";
@import "_default/_fonts.scss";
@import "_default/_indents.scss";
@import "_fonts.scss";
@import "_extends.scss";

/* -----------------------------------------------------
	<HEADER> styles
*/

@import "_pages/_header.scss";

/* -----------------------------------------------------
	<MAIN> styles
*/

@import "_pages/_typical.scss";
@import "_pages/_main.scss";
@import "_pages/_anim.scss";

/* -----------------------------------------------------
	<FOOTER> styles
*/

@import "_pages/_footer.scss";

/* -----------------------------------------------------
	media queries
*/