.footer{
  background: #e9e9e9;
  padding: 20px 0;
  border-top: 1px solid #b2b2b2;
  .social{
    width: 22px;
    height: 22px;
    display: inline-block;
    text-decoration: none;
    margin-right: 5px;
    &.vk{
      background: url("../img/vk.png") no-repeat center;
    }
    &.in{
      background: url("../img/in.png") no-repeat center;
    }
    &.fb{
      background: url("../img/fb.png") no-repeat center;
    }
  }
  .logo{
    margin: 20px auto;
  }
}