.keys{
  background: url("../img/keys.png") center no-repeat;
  background-size: cover;
  padding-bottom: 40px;
}
.header{
  padding-top: 25px;
  margin-bottom: 70px;
  h2{
    font: 27px $muller-l;
    text-align: center;
  }
  .phone{
    color: $black;
    font-family: $muller-r;
    span{
      font-size: 18px;
      display: block;
    }
    a{
      font-size: 24px;
      color: $black;
      text-decoration: none;
      display: block;
    }
  }
}