.w1280{
  min-width: 1280px !important;
}

.logo{
  max-width: 170px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1{
  font: 46px $unit-b;
  color: $black;
  text-align: center;
  margin-bottom: 50px;
  span{
    background: $yellow;
  }
}

.dash-link{
  font: 24px/30px $muller-l;
  color: $black;
  border-bottom: 2px dashed $black;
  text-decoration: none;
  strong{
    font-family: $muller-m;
  }
}

.ybg{
  background: $yellow;
  font: 24px $muller-bl;
  padding: 3px;
}

.info{
  background: url("../img/bg-yellow.png") no-repeat center top;
  padding: 40px 0 90px;
  text-align: center;
  h3{
    font: 60px $muller-l;
    color: $black;
    margin-bottom: 35px;
  }
  p{
    font: 30px $muller-bl;
    color: $black;
  }
}

//why-quest

.why-quest{
  padding-bottom: 70px;
  li{
    width: 50%;
    margin-top: 120px;
    &:first-child{
      margin-top: 0;
    }
    h4{
      font: 40px $muller-bl;
      color: $black;
      margin-bottom: 10px;
      position: relative;
      &::before{
        position: absolute;
        content: '';
        left: -10px;
        top: -50px;
        width: 7px;
        height: 100px;
        background: $yellow;
        -webkit-transform: rotate(50deg);
        transform: rotate(50deg);
      }
    }
    i{
      font: 24px $muller-i;
      color: $gray;
      margin-bottom: 35px;
      display: block;
    }
    p{
      font: 20px $muller-r;
      color: $black;
    }
  }
  li:nth-child(odd){
    float: left;
    padding-right: 80px;
  }
  li:nth-child(even){
    float: right;
    padding-right: 80px;
  }
}

//franchising

.franchising{
  background: url("../img/bg.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  height: 500px;
  width: 100%;
  font: 46px/40px $unit-b;
  color: $white;
  padding: 150px 0 0;
  text-align: center;
  position: relative;
  .bgw2, .bgw{
    position: absolute;
    width: 100%;
    height: auto;
    display: block;
  }
  .bgw2{
    top: 0;
    left: 0;
  }
  .bgw{
    bottom: 0;
    left: 0;
  }
}

//how-it-work
.how-it-work{
  background: url("../img/bg-gray.png") no-repeat center 57%;
  color: $black;
  padding-bottom: 60px;
  h4{
    font: 30px $muller-l;
    span{
      font-family: $muller-bl;
    }
  }
  p{
    font: 20px $muller-r;
    margin-bottom: 30px;
  }
  .foot{
    background: url("../img/foot.png") no-repeat center;
    width: 41px;
    height: 245px;
    margin: 0 auto 15px;
  }
  .big-btn{
    font: 60px/45px $muller-bl;
    display: inline-block;
    background: $yellow;
    color: $black;
    padding: 25px 25px 5px;
    text-decoration: none;
    margin-bottom: 20px;
  }
  i{
    display: block;
    color: $gray;
    font: 24px $muller-i;
    margin-bottom: 25px;
  }
}

//dont-work

.dont-work{
  padding: 70px 0 50px;
  background: url("../img/bg3.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  h2{
    font: 46px $unit-b;
    color: $white;
    margin-bottom: 100px;
  }
  p{
    font: 46px $unit-b;
    color: $yellow;
    margin-bottom: 50px;
  }
}

//terms
.terms{
  background: url("../img/bg4.png") center bottom no-repeat;
  padding-top: 60px;
  padding-bottom: 185px;
  .main-title{
    margin-bottom: 5px;
    &.new{
      text-align: center;
      margin-bottom: 50px;
      span{
        display: block;
        text-transform: uppercase;
      }
    }
  }
  h3{
    font: 30px $muller-bl;
    background: $yellow;
    display: inline-block;
    padding: 10px 10px 0;
    margin-bottom: 35px;
  }
  h5{
    color: $gray;
    font: 25px $muller-l;
    margin-bottom: 40px;
  }
  .counter{
    background: $dwhite;
    border: 3px solid $yellow;
    padding: 30px 80px 35px;
    text-align: center;
    margin-bottom: 30px;
    h4{
      font: 30px $muller-bl;
    }
    span{
      display: block;
      font: 30px $muller-l;
    }
  }
  .terms-list{
    .cc{
      margin-bottom: 40px;
    }
    text-align: center;
    h4{
      font: 30px $muller-bl;
      color: $black;
    }
    p{
      font: 16px $muller-l;
      color: $gray;
    }
  }
  .titles-b{
    text-align: center;
    font: 46px $unit-b;
    h2{
      color: $yellow;
      margin-bottom: 60px;
      text-shadow: 3px 3px 8px $gray;
    }
    h3{
      color: $black;
      font: 46px $unit-b;
      background: transparent;
      text-shadow: 3px 3px 8px $gray;
    }
  }
}

//order
.order{
  padding-bottom: 50px;
  h4{
    font: 26px $muller-bl;
    background: $yellow;
    display: inline-block;
    padding: 5px 5px 0;
    margin-bottom: 45px;
  }
  form{
    box-shadow: 3px 3px 8px $gray;
    padding: 30px 10px;
    display: block;
    border: 3px solid $yellow;
    background: $dwhite;
    label{
      @extend .label;
    }
    input[type="text"]{
      @extend .input;
    }
    input[type="submit"]{
      width: 100%;
      max-width: 400px;
    }
  }
}

//questions

.questions{
  .accordion-toggle {cursor: pointer; margin: 0; position: relative;}
  .accordion-content {display: none;}
  .accordion-content.open {display: block;}
  .accordion-toggle{
    background: $gray;
    color: $yellow;
    font: 30px $muller-r;
    padding: 8px 20px;
    margin-bottom: 5px;
    span{
      border-bottom: 2px dashed $yellow;
    }
  }
  p{
    font: 20px $muller-r;
    padding: 15px 10px;
  }
  padding-bottom: 80px;
}

//calc-wrap
.calc-wrap{
  background: #f7f7f7;
  border: 3px solid $yellow;
  padding: 30px 60px;
  .noUi-horizontal .noUi-handle{
    left: 0;
  }
  .calc-thead{
    font: 24px $muller-b;
    color: $black;
    text-transform: uppercase;
    line-height: 28px;
  }
  .calc-body{
    font: 24px $muller-b;
    color: $gray;
    line-height: 28px;
  }
  .btn{
    font: 26px $muller-b;
    margin-top: 30px;
  }
  h4{
    font: 30px $muller-b;
    color: $black;
    margin-bottom: 50px;
  }
  //slider styles
  .noUi-pips-horizontal{
    top: -57px;
  }
  .noUi-marker-normal{
    display: none;
  }
  .noUi-target{
    height: 3px;
    background: $black;
    border: none;
  }
  .noUi-handle{
    position: relative;
  }
  .noUi-marker-horizontal.noUi-marker{
    width: 14px;
    height: 14px;
    background: $yellow;
    border-radius: 50%;
    border: 2px solid #464646;
    margin-top: 42px;
  }
  .calc-point{
    cursor: pointer;
    width: 15px;
    height: 15px;
    background: $white;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #464646, 0 0 0 6px $yellow, 0 0 0 8px #464646;
    &::before, &::after{
      display: none;
    }
  }
  .main-slider{
    .noUi-pips{
      .noUi-value:nth-of-type(2){
        width: 110px;
        left: -20px !important;
        &::before{
          content: 'до ';
        }
      }
      .noUi-value:nth-of-type(4){
        left: 47% !important;
      }
      .noUi-value:nth-of-type(6){
        left: 67% !important;
      }
      div:last-child{
        width: 150px;
        left:93% !important;
        &::before{
          content: 'более ';
        }
      }
    }
    .noUi-value{
      width: 110px;
      font: 14px $muller-r;
      color: $black;

    }
    #softSliderValue2{
      background: transparent;
      border: none;
      font: 12px $muller-r;
      color: $gray;
    }
    .noUi-handle{
      @extend .calc-point;
    }
    #softSliderValue2{
      bottom: -30px;
      position: absolute;
      left: -23px;
    }
  }//main-slider
  #step{
    #step_val{
      background: transparent;
      border: none;
      position: absolute;
      bottom: -30px;
      left: 0;
    }
    top: 20px;
    .noUi-value{
      top: -2px !important;
      padding-left: 10px;
    }
    .noUi-pips div{
      font: 24px $muller-r;
      color: $black;
    }
    .noUi-handle{
      @extend .calc-point;
      background: $yellow;
    }
  }
  #slider_proc{
    .in-wrap{
      &::before{
        position: absolute;
        content: '%';
        bottom: -30px;
        left: 15px;
        max-width: 20px;
        font: 12px $muller-r;
        color: $gray;
      }
    }
    .noUi-handle input{
      background: transparent;
      border: none;
      position: absolute;
      bottom: -30px;
      left: 0;
      font: 12px $muller-r;
      color: $gray;
    }
    top: 20px;
    .noUi-value{
      top: -2px !important;
      padding-left: 10px;
    }
    .noUi-pips div{
      font: 24px $muller-r;
      color: $black;
    }
    .noUi-handle{
      @extend .calc-point;
    }
  }
}

//writing
.writing{
  font: 60px $muller-l;
  padding-bottom: 60px;
  .inline{
    margin-right: 35px;
  }
  a{
    margin-top: 70px;
    display: inline-block;
    background: $yellow;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    span{
      display: block;
    }
  }
  .tel{
    font: 60px $muller-l;
    color: $black;
    margin-top: 30px;
  }
  span{
    display: block;
  }
}

.down{
  background: url("../img/down.png") no-repeat center;
  display: inline-block;
  width: 21px;
  height: 19px;
}

.modal{
  h4{
    font: 24px $muller-b;
  }
  .modal-content{
    background: $dwhite;
    border: 3px solid $yellow;
  }
  .close{
    display: block;
    font-size: 34px;
    background: transparent;
    border: none;
    position: absolute;
    right: 0;
    z-index: 10;
    cursor: pointer;
  }
  form{
    padding: 30px 10px;
    display: block;
    label{
      @extend .label;
    }
    input[type="text"]{
      @extend .input;
    }
    input[type="submit"]{
      width: 100%;
      max-width: 400px;
    }
  }
}