html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	font-size: $font_size;
	font-family: $font_family;
}

html,
body {
	margin: 0;
	height: 100%;
	width: 100%;
}

button,
input,
textarea {
	font-family: $font_family;
}
figure {
	margin: 0;
	padding: 0;
}

.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.fixed {
	position: fixed;
}
.static {
	position: static;
}

.clear-input {
	background: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	padding: 0;
	margin: 0;
	width: auto;
}

.noresize {
	resize: none;
}

.clear-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style: none;
}


.no-js body:after{
	display: block;
	position: fixed;
	top: 5px;
	left: 5%;
	right: 5%;
	padding: 10px 0;
	background: firebrick;
	color: lightyellow;
	text-align: center;
	font-weight: bold;
	z-index: 100500;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	content: 'This page requires JavaScript for correct performance';
}

.disable-hover,
.disable-hover-childs * {
	pointer-events: none !important;
}

.ir {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	left: -1000%;
	top: -1000%;
	text-indent: -1000%;
}

img.r {
	width: 100%;
	height: auto;
	display: block;
}


/*text*/
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.left {
	text-align: left;
}
.justify {
	text-align: justify;
}

/*inline-blocks*/
.v-top {
	vertical-align: top;
}
.v-middle {
	vertical-align: middle;
}
.v-bottom {
	vertical-align: bottom;
}
.v-baseline {
	vertical-align: baseline;
}

/*floats*/
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.clearfix {
	clear: both;
	&:after {
		display: table;
		content: '';
		clear: both;
	}
}

/*display*/
.block {
	display: block;
}
.inline {
	display: inline-block;
}
.block-extra {
	display: block !important;
}
.inline-extra {
	display: inline-block !important;
}

.none {
	display: none;
}
/*tables*/
.table {
	display: table;
}
.row {
	display: table-row;
}
.thead {
	display: table-header-group;
}
.tfoot {
	display: table-footer-group;
}
.tbody {
	display: table-column-group;
}
.cell {
	display: table-cell;
}

.list-item {
	display: list-item;
}

/*overflow*/
.o-hid {
	overflow: hidden;
}
.o-hid-y {
	overflow: hidden;
}
.o-hid-x {
	overflow-x: hidden;
}
.o-auto {
	overflow: auto;
}
.o-auto-x {
	overflow-x: auto;
}
.o-auto-y {
	overflow-y: auto;
}
.o-visbl {
	overflow: visible;
}
.o-visbl-x {
	overflow-x: visible;
}
.o-visbl-y {
	overflow-y: visible;
}

/*background*/
.bg-none {
	background: none;
}
.bg-cover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
}
.bg-contain {
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	-ms-background-size: contain;
	background-size: contain;
}

/*border-radius*/
.circle-item {
	border-radius: 50%;
}

@each $color in $colors_list {
    .cl-#{nth($color,1)} {
        color: #{nth($color,2)};
    }
}
@each $color in $colors_list_bg {
    .bg-#{nth($color,1)} {
        background-color: #{nth($color,2)};
    }
}